<div class="sidebar">
<div class="menubox">
<div class="menut"></div>
<div class="menum">
		<span class="rleft">
		<div class="title">小小梦想家
		</div>
		<div class="site">
		     lwdsn@sina.cn
		</div>
		</span>
		<span class="rright" onclick="javascript:$('.menubox .blog').slideToggle(100);">
		</span>
</div>
<div class="menub"></div>
<div class="blog">
<div class="t"></div>
<div class="m">
<a href="http://www.baidu.com/p/lwdbz" target="_black">百度主页</a>

<br>
<a href="http://my.csdn.net/lwdcs" target="_black">CSDN</a>
<br>
<a href="http://www.cnblogs.com/lwdblog/" target="_black">博客园</a>
<br>
<a href="http://qing.blog.sina.com.cn/home" target="_black">新浪轻博客</a>
<br>
<a href="admin" target="_black">后台管理</a>    
</div>
</div>
</div>


<!-- <div class="menubox">
<div class="menut"></div>
<div class="menum">
{#include file="musicbar.html"#}
</div>
<div class="menub"></div>
</div> -->




<div class="menubox">
<div class="menut"></div>
<div class="menum">
{#include file="plugins/weibo.html"#}	
</div>
<div class="menub"></div>
</div>

<div class="menubox">
<div class="menut"></div>
<div class="menum">
			&nbsp;&nbsp;&nbsp;QQ：1127622940
</div>
<div class="menub"></div>
</div>


</div>